/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
  overflow-x: hidden;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

:root {
  --black: #000000;
  --primary: #3e3e3e;
  --primaryLight: #77777b;
  --primaryDark: #323232;
  --secondary: #e1e3db;
  --grayText: #dedede;
  --projectDescription: #3e3e3ec9;
  --placeholderInactive: #8f8f8f6e;
  --placeholder: #8f8f8f;
  --hamburger: rgb(227, 227, 227);
  --footerBackground: #d1d1d1;
}

@font-face {
  font-family: "Typo-Hoop-Hairline";
  /*a name to be used later*/
  src: url("../assets/fonts/TYPO\ HOOP_HAIRLINE\ DEMO.OTF");
  /*URL to font*/
}

@font-face {
  font-family: "Typo-Hoop-Light";
  /*a name to be used later*/
  src: url("../assets/fonts/TYPO\ HOOP_LIGHT\ DEMO.OTF");
  /*URL to font*/
}

@font-face {
  font-family: "Akhandsoft-Semilight";
  src: url("../assets/fonts/INDIAN\ TYPE\ FOUNDRY\ -\ AKHANDSOFT-SEMILIGHT.OTF");
}

.alert-fill {
  background-color: rgb(98, 98, 98);
}

.alert-fill p {
  color: #fff;
}

body {
  font-family: Akhandsoft-Semilight;
}

.animation {
  opacity: 0;
}

.animation.animate__animated {
  opacity: 1;
}

.floating-ws {
  position: fixed;
  right: 1%;
  bottom: 15%;
  width: 4.5rem;
  height: 4.5rem;
  z-index: 3000;
  border-radius: 100%;
  background-color: rgb(67, 96, 59);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.15s ease-in;
}

.floating-ws:hover {
  background-color: rgb(47, 67, 41);
}

.floating-ws img {
  width: 75%;
  height: 75%;
}

.section-title {
  font-size: 5.8rem;
  writing-mode: vertical-lr;
  text-orientation: mixed;
  letter-spacing: 15px;
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  transform: rotate(-180deg);
  text-transform: uppercase;
}

.section-title.title-left {
  margin-left: 4%;
}

/* WELCOME */
.carousel-inner {
  height: 100vh;
}

#welcomeCarousel.carousel-item img {
  height: 100vh;
  object-fit: cover;
}

.hamburger-container {
  position: absolute;
  z-index: 99999999;
  width: 50px;

  left: 5%;
  top: 2%;
  cursor: pointer;
}

.menu-btn {
  position: absolute;
  z-index: 99999999;
  width: 80px;
  height: 60px;
  left: 5%;
  top: 2%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 3px solid #fff; */
}

.menu-btn__burger {
  width: 50px;
  height: 6px;
  background-color: #fff;
  /* border-radius: 5px; */
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 3px 13px -1px rgba(0, 0, 0, 1);
}

.menu-btn__burger::before,
.menu-btn__burger:after {
  content: "";
  position: absolute;
  width: 50px;
  height: 6px;
  transition: all 0.3s ease-in-out;
  background: #fff;
  box-shadow: 0px 3px 13px -1px rgba(0, 0, 0, 1);
}

.menu-btn__burger::before {
  transform: translateY(-16px);
}

.menu-btn__burger::after {
  transform: translateY(16px);
}

.menu-btn.is-active {
  background-color: transparent;
  /* position: fixed; */
}

.menu-btn.is-active .menu-btn__burger {
  transform: translateX(-50px);
  background: transparent;
  box-shadow: none;
}

.menu-btn.is-active .menu-btn__burger::before {
  transform: rotate(45deg) translate(35px, -35px);
}

.menu-btn.is-active .menu-btn__burger::after {
  transform: rotate(-45deg) translate(35px, 35px);
}

/* .hamburger-container span {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: #fff;
  margin: 0.8rem 0;
  transition: 0.4s;
}

.hamburger-container.is-active span:first-of-type {
  transform: rotate(-45deg) translateX(-13px) translateY(11px);
}
.hamburger-container.is-active span:last-of-type {
  transform: rotate(45deg) translateX(-11px) translateY(-12px);
}
.hamburger-container.is-active .hamburger {
  opacity: 0;
} */

#welcomeCarousel .carousel-control-prev,
#welcomeCarousel .carousel-control-next {
  z-index: 3;
}

#welcomeCarousel .carousel-item {
  height: 100vh;
}

#welcomeCarousel .carousel-item img {
  height: 100%;
  object-fit: cover;
}

/* #welcomeCarousel .carousel-inner img {

} */

.language-selector-container {
  z-index: 99999;
  position: absolute;
  color: #fff;
  right: 5%;
  top: 2%;
}

.language-selector-container p {
  font-size: 2rem;
  margin: 0 0.7rem;
  border-bottom: 2px solid transparent;
  cursor: pointer;
  line-height: 2.2rem;
}

.language-selector-container p.active {
  border-bottom-color: #fff;
}

.section-welcome {
  position: relative;
}

.welcome-title-container {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.welcome-logo {
  max-width: 20rem;
}

.welcome-title {
  /* TODO: CAMBIAR EL COLOR DEL TEXTO */
  color: var(--grayText);
  font-family: "Typo-Hoop-Hairline";
  letter-spacing: 10px;
  margin-bottom: 2rem;
}

.welcome-title-container h4,
.welcome-title-container span {
  font-family: "Akhandsoft-Semilight";
  color: var(--grayText);
  letter-spacing: 6px;
}

.welcome-title-container span {
  margin: 0 1rem;
}

/* SECTION ABOUT */
.section-about {
  height: auto;
  padding: 5rem 0 5rem 0;
}

.section-title h2 {
  flex-grow: 0;
}

.about-text-container img {
  max-width: 50%;
  position: relative;
  z-index: 2;
}

.about-text {
  background-color: var(--primary);
  color: #fff;
  font-size: 1.3em;
  padding: 3rem 2rem;
  width: 30%;
  position: relative;
  z-index: 1;
}

.about-us-text {
  font-size: 0.9em;
}

/* SECTION PROJECTS */
.section-projects {
  margin-top: 10rem;
}

.projects-list-container {
  width: 12%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

.projects-list {
  margin: 0;
  width: 100%;
}

.project-button {
  letter-spacing: 0.6px;
  margin: 0.5rem 0;
  font-size: 1.4em;
  cursor: pointer;
  background: #fff;
  color: var(--primary);
  padding: 0.3rem 1rem;
  transition: background 0.2s ease-in-out;
}

.project-button:hover {
  color: rgb(29, 29, 29);
}

.project-button.active {
  color: rgb(29, 29, 29);
}

.project-section-indicator {
  width: 5px;
  height: 17%;
  background: var(--primary);
  position: absolute;
  left: 0;
  margin: 3% 0;
  transition: all 0.2s linear;
}

.project-section-indicator.first {
  top: 0%;
}

.project-section-indicator.second {
  top: 20%;
}

.project-section-indicator.third {
  top: 40%;
}

.project-section-indicator.fourth {
  top: 60%;
}

.project-section-indicator.fifth {
  top: 80%;
}

.project-img {
  width: 100%;
  right: 0;
  height: 80%;
  /* border-left: 5px solid #fff;
  border-right: 5px solid #fff; */
  border-top: 0px solid transparent;
  border-bottom: 0px solid transparent;
}

.project:last-of-type {
  border-left: 5px solid transparent;
}

.project {
  border-left: 5px solid #fff;
  border-right: 5px solid #fff;
}

.project:first-of-type {
  border-right: 5px solid transparent;
}

.projects-container {
  right: 0;
  bottom: 0;
  z-index: 200;
  width: 69%;
  transition: opacity 0.3s ease-in-out;
}

.project {
  position: absolute;
  width: 80%;
  -webkit-filter: grayscale(100%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  transition: filter 0.3s linear;
  opacity: 0;
}

.project.project-active {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}

.project-description {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--projectDescription);
  padding: 1rem 3rem;
  opacity: 0;
  transition: opacity 0.1s linear;
  z-index: 1;
}

.project-description h3 {
  color: #fff;
  font-size: 5rem;
}

.project-description p {
  color: var(--grayText);
  font-size: 1.2em;
}

.project:hover .project-description {
  opacity: 1;
}

/* SECTION RENDERS */
.section-renders {
  background-color: var(--primary);
  margin-top: 1rem;
  padding-top: 12rem;
  padding-bottom: 7rem;
}

.section-renders h2 {
  color: #fff;
}

.renders-list-container {
  width: 35%;
  margin: 0 auto;
}

.renders-list {
  background: var(--primary);
  width: 100%;
  padding: 0;
}

/* .renders-list::after {
  content: "";
  height: 2px;
  width: 33.333%;
  background-color: red;
  position: absolute;
  bottom: 0;
  left: 0;
} */

.section-indicator {
  height: 4px;
  width: 25%;
  background: rgb(240, 240, 240);
  position: absolute;
  bottom: 0;
  margin: 0;
  padding: 0;
  line-height: normal;
  transition: all 0.2s linear;
}

.section-indicator.first {
  left: 0;
}

.section-indicator.second {
  left: 25%;
  /* transform: translateX(-50%); */
}

.section-indicator.third {
  left: 50%;
}

.section-indicator.fourth {
  left: 100%;
  transform: translateX(-100%);
}

.renders-list li {
  text-align: center;
  color: #fff;
  padding: 0 1.2rem 0.3rem 1.2rem;
  font-size: 1.5em;
  text-transform: uppercase;
  cursor: pointer;
  transition: color 0.15s ease-in-out;
  background-color: var(--primary);
  width: 25%;
}

.renders-list li:hover {
  color: rgb(162, 162, 162);
}

.renders-list li.active {
  color: #fff;
}

.renders-container {
  /* grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(150px auto);
  
  display: grid; */
  grid-gap: 10px;
  max-width: 960px;
  margin: 0 auto;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(13, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.renders-container div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.one {
  grid-area: 1 / 1 / 2 / 6;
}

.two {
  grid-area: 1 / 6 / 3 / 14;
}

.three {
  grid-area: 2 / 1 / 4 / 6;
}

.four {
  grid-area: 3 / 6 / 4 / 10;
}

.five {
  grid-area: 3 / 10 / 4 / 14;
}

.renders-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
  /* -webkit-filter: grayscale(100%); 
  filter: grayscale(100%); */
  transition: filter 0.5s linear;
}

/* 
.render:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  top: 0;
  left: 0;
} */

/* .renders-container img:hover {
  -webkit-filter: grayscale(0); 
  filter: grayscale(0);
} */

img.gray {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  object-fit: cover;
}

.render .gray {
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 1;
  object-fit: cover;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  opacity: 1;
}

.render-color-container {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
  transition: clip-path 0.35s linear;
}

.render-info {
  z-index: 99999;
  margin: 0 auto 5% auto;
  width: 80%;
}

.one .render-info p {
  font-size: 1em;
}

.three .render-info p {
  font-size: 1.2em;
}

.four .render-info p,
.five .render-info p {
  font-size: 1em;
}

.render-info p {
  color: #fff;
  font-size: 1.5em;
  padding-left: 1rem;
  border-left: 2px solid #fff;
  text-shadow: 2px 2px 3px #000000;
}

.render:hover .render-color-container {
  clip-path: polygon(0 100%, 100% 100%, 100% 50%, 0 50%);
}

.render.one:hover .render-color-container {
  clip-path: polygon(0 100%, 100% 100%, 100% 30%, 0 30%);
}

.render.three:hover .render-color-container {
  clip-path: polygon(0 100%, 100% 100%, 100% 45%, 0 45%);
}

.render.four:hover .render-color-container,
.render.five:hover .render-color-container {
  clip-path: polygon(0 100%, 100% 100%, 100% 10%, 0 10%);
}

.render {
  overflow: hidden;
}

/* SECTION PRODUCTS */
#product-form input {
  caret-color: #000;
}

#modalGetProduct {
  padding-right: 0 !important;
}

.modal-open {
  padding-right: 0 !important;
}

#liveAlertPlaceholderProduct {
  padding: 0;
  margin-bottom: 1rem;
}

.section-products {
  padding-top: 1rem;
}

.section-products h2 {
  padding-bottom: 20rem;
}

.get-product-form label {
  color: var(--primaryLight);
}

.product-img-container {
  width: 40%;
}

.product-img {
  max-width: 100%;
  position: relative;
  z-index: 2;
}

.modal-content {
  border-radius: 0 !important;
}

.carousel-item img.more-product-img {
  object-fit: contain !important;
  margin: 0 auto;
  width: 42%;
  height: auto;
}

.more-product-inner {
  height: 33vh;
}

.carousel-indicators [data-bs-target] {
  background-color: #000;
}

#carousel-more-product {
  padding-top: 2rem;
}

#formInfoProduct {
  cursor: not-allowed;
}

.carousel-control-next-icon {
  background: url("/assets/img/arrowNext.svg");
}

.carousel-control-prev-icon {
  background: url("/assets/img/arrowPrev.svg");
}

#btn-close-modal-product {
  background-color: #fff;
  color: var(--primary);
  border-color: var(--primary);
}

#btn-submit-form-product {
  background-color: var(--primary);
  color: #fff;
  border-color: var(--primary);
}

.btn-get-product {
  border: none;
  background-color: var(--primary);
  color: #fff;
  padding: 0.3rem 0.7rem;
  transition: all 0.3s ease-in;
}

.btn-get-product:hover {
  background-color: var(--primaryDark);
}

.hidden-products {
  overflow: hidden;
  transition: max-height 0.45s ease-out;
  height: auto;
  max-height: 0px;
  width: 75%;
  margin: 0 auto;
  /* top: 100%; */
  /* clip-path: polygon(0 0, 100% 0, 100% 0, 0 0); */
}

.show-products {
  border: none;
  background-color: #fff;
  color: var(--primary);
  font-size: 1.2em;
  left: 50%;
  transform: translateX(-50%);
}

.show-products::after {
  content: "";
  background: url("../assets/img/arrow-gray-01.svg");
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  height: 20px;
  width: 20px;
  left: 50%;
  transform: translateX(-50%);
  top: 100%;
  /* transform: translateY(-25%); */
  /* background-color: red; */
  transition: transform 0.3s linear;
}

.hidden-products.show {
  /* max-height: 1500px; */
  max-height: 45rem;
  width: 75%;
  margin: 0 auto;
  /* clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); */
}

.show-products.show::after {
  transform: rotateX(180deg) translateX(-50%);

  /* transform: translateY(-25%); */
}

.product {
  max-width: 80%;
  display: flex;
  opacity: 0;
  padding: 1.5rem 0;
  margin: 0 auto;
}

.product h3 {
  font-size: 5rem;
  letter-spacing: 5px;
}

.product p {
  font-size: 1.4rem;
}

#carousel-hidden-products .carousel-inner {
  height: 100%;
  width: 70%;
  margin: 0 auto;
}

#carousel-hidden-products .carousel-item {
  height: 90%;
}

#carousel-hidden-products {
  height: 45rem;
}

#carousel-hidden-products .carousel-item.active,
#carousel-hidden-products .carousel-item-next,
#carousel-hidden-products .carousel-item-prev {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hidden-product {
  text-align: center;
  padding-top: 3rem;
}

.hidden-product img {
  width: 30%;
}

.hidden-product-description {
  font-size: 1.4em;
}

.hidden-product-title {
  font-size: 5rem;
  letter-spacing: 5px;
  margin-top: 0.5rem;
  margin-bottom: 3rem;
}

/* SECTION STEPS */

.section-steps h2 {
  color: var(--primary);
  margin-left: 5rem;
  position: absolute;
  right: 5%;
}

.steps-container {
}

.rows-container {
  background-color: var(--primary);
  padding: 4rem 2rem 0 3rem;
  width: 70%;
  margin: 0 auto;
}

.steps-container > .steps-row {
  margin-bottom: 5rem;
  padding: 0 4rem;
}

.steps-row:last-of-type {
  margin-bottom: 1rem;
  margin-top: 1.7rem;
}

.step {
  display: flex;
  justify-content: center;
  align-items: center;
}

.step p {
  color: #fff;
  text-align: center;
  font-size: 1.2em;
}

.step-icon img {
  max-width: 6rem;
  padding-top: 0.5rem;
}

.second-row {
  /* padding-left: 4rem; */
}

.arrow {
  width: 90%;
  margin: 0 auto;
  object-fit: contain;
}

.arrow-big {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 52%;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow-big img {
  width: 95%;
  height: 64%;
}

.arrow img {
  width: 100%;
}

.steps-row div {
  flex: 1 0 0;
}

.step-numeration {
  display: none;
}

/* SECTION QUOTATION */
.section-quotation {
  padding: 5rem 0 2rem 0;
  background: url("../assets/img/FONDO-FORMULARIO.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}

.section-quotation h2 {
  color: #fff;
  position: relative;
}

form {
  width: 100%;
  padding: 5rem 0;
}

input {
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #fff;
  padding: 0.5rem 1rem;
  caret-color: #fff;
  color: #fff;
  font-size: 1.2em;
  opacity: 1;
}

input:focus {
  outline: none;
}

/* chrome */
[placeholder]::-webkit-input-placeholder {
  color: var(--placeholderInactive);
  opacity: 1;
  transition: color 0.15s ease-in;
}

/* chrome */
[placeholder]:focus::-webkit-input-placeholder {
  color: var(--placeholder);
}

input::-moz-placeholder {
  transition: color 8s ease-in;
  opacity: 1;
  color: var(--placeholderInactive);
}

input:focus::-moz-placeholder {
  opacity: 1;
  color: var(--placeholder);
}

.selected.select-placeholder {
  color: var(--placeholderInactive);
}

.project-type {
  text-align: left;
}

.selected {
  color: #fff;
  font-size: 1.2em;
}

label {
  color: #fff;
  font-size: 1.2em;
}

.option {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

input[type="radio"] {
  width: auto;
}

.selected {
  order: 0;
  position: relative;
  border-bottom: 2px solid #fff;
}

.selected:hover {
  background-color: #00000030;
}

.selected::after {
  content: "";
  background: url("../assets/img/arrow-down.png");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  height: 10px;
  width: 20px;
  right: 1rem;
  top: 50%;
  transition: transform 0.25s linear;
}

.options-container {
  background-color: rgba(0, 0, 0, 0.391);
  backdrop-filter: blur(2px);
  color: #fff;
  width: 100%;
  transition: all 0.5s;
  overflow: hidden;
  max-height: 0;
  order: 1;
  position: absolute;
  top: 100%;
}

.options-container.active {
  max-height: 150px;
  opacity: 1;
  overflow-y: scroll;
}

.options-container.active + .selected::after {
  transform: rotateX(180deg);
}

.options-container::-webkit-scrollbar {
  width: 8px;
  background: #77777b;
}

.option,
.selected {
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.project-type label {
  cursor: pointer;
}

.project-type .option:hover {
  background-color: rgba(255, 255, 255, 0.101);
}

.project-type .option .radio {
  display: none;
}

.contact-form input[type="submit"] {
  border: none;
  font-size: 2em;
  font-weight: bold;
  width: auto;
  transition: color 0.1s ease-in;
}

.contact-form input[type="submit"]:hover {
  color: rgb(196, 196, 196);
}

#liveAlertPlaceholder {
  width: 60%;
  margin: 0 auto;
}

/* SECTION CONTACT */
.section-contact {
  background: url("../assets/img/FONDO-CONTACTO.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-bottom: 5rem;
}

.footer-logo {
  max-width: 9%;
}

.socials-list {
  margin: 0 auto;
}

.socials-list li {
  margin: 0 1rem;
}

.footer-links-list {
  padding-left: 0;
}

.contact-info li img {
  width: 2rem;
}

.social-link:link,
.social-link:visited {
  color: var(--primaryLight);
  text-decoration: none;
  font-size: 0.7em;
}

.social-link:hover {
  color: var(--primaryLight);
}

.contact-info li {
  display: flex;
  align-items: center;
  font-size: 1.7em;
  color: var(--primaryLight);
}

.btn-contact {
  border: 2px solid rgb(14, 14, 14);
  width: 60%;
  margin-top: 3.5rem;
  text-align: center;
  padding: 0.5rem 1rem;
  color: var(--black);
  text-decoration: none;
  font-size: 1.2em;
  transition: all 0.2s ease-in;
}

.btn-contact:hover {
  background-color: rgb(14, 14, 14);
  color: #fff;
}

.map {
  box-shadow: 0px 0px 10px 1px rgba(112, 112, 112, 0.37);
  height: 600px;
  width: 600px;
}

/* NAV */
.nav-container {
  position: absolute;
  z-index: 9999999;
  top: 0;
  left: -110%;
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #000000bc;
  position: absolute;
  transition: left 0.2s linear;
}

.nav-container.nav-visible {
  left: 0;
}

.nav-container.nav-visible + .hamburger-container span {
  color: red;
}

ul {
  height: 100%;
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

nav ul li a {
  color: #fff;
  font-size: 2.5em;
  text-decoration: none;
  transition: color 0.2s ease-in;
}

.nav-li:hover {
  color: rgb(151, 151, 151);
}

nav ul li {
  margin: 0.7rem 0;
}

footer {
  background: var(--footerBackground);
}

.footer-links-container {
  padding-right: 9%;
}

.disclaimer {
  background: var(--primaryLight);
  color: #fff;
  margin: 0;
  padding: 0.5rem 0;
}

.footer-link:visited,
.footer-link:link {
  color: var(--primaryDark);
  text-decoration: none;
  margin: 0 0.7rem;
  font-size: 0.8em;
}

.footer-link:hover {
  color: var(--primaryLight);
}

/* MEDIA QUERIES */

@media screen and (min-width: 1400px) {
  .product.flex-xxl-row .product-info {
    border-left: 3px solid var(--primary);
    padding-left: 4rem;
  }

  .product.flex-xxl-row-reverse .product-info {
    border-right: 3px solid var(--primary);
    padding-right: 4rem;
  }

  .product.flex-xxl-row-reverse p,
  .product.flex-xxl-row-reverse h3 {
    text-align: end;
  }

  .product.flex-xxl-row-reverse h3 {
    margin-right: -5px;
  }
}

@media screen and (max-width: 1399px) {
  body {
    overflow-x: hidden;
  }

  .about-text {
    width: 100%;
    background: linear-gradient(to bottom, rgba(39, 39, 39, 0.52), #3e3e3ee4),
      url("../assets/img/IMAGEN-SOMOS2.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .about-text-container img {
    display: none;
  }

  .section-title {
    letter-spacing: 6px;
  }

  #welcomeCarousel.carousel-item img {
    height: 100vh;
    object-fit: cover;
  }

  .welcome-logo {
    max-width: 9rem;
  }

  .welcome-title {
    text-align: center;
  }

  .welcome-message {
    text-align: center;
  }

  .menu-btn__burger::before,
  .menu-btn__burger::after,
  .menu-btn__burger {
    width: 40px;
    height: 5px;
  }

  .menu-btn__burger::before {
    transform: translateY(-13px);
  }

  .menu-btn__burger::after {
    transform: translateY(13px);
  }

  .projects-list-container {
    flex-direction: row;
    width: 50%;
    margin: 0 auto 1rem auto;
  }

  .projects-list {
    flex-direction: row;
    width: 100%;
    margin: 0 auto;
  }

  .project-button {
    margin-bottom: 0;
    padding: 0;
    width: 25%;
    text-align: center;
    padding-bottom: 0.4rem;
  }

  .project-section-indicator {
    width: 20%;
    height: 3px;
    background: var(--primary);
    position: absolute;
    top: auto;
    bottom: 0;
    margin: 0;
    transition: all 0.2s linear;
  }

  .project-section-indicator.first {
    bottom: 0;
    top: auto;
    left: 0;
  }

  .project-section-indicator.second {
    bottom: 0;
    top: auto;
    left: 20%;
  }

  .project-section-indicator.third {
    bottom: 0;
    top: auto;
    left: 40%;
  }

  .project-section-indicator.fourth {
    bottom: 0;
    top: auto;
    left: 60%;
  }

  .project-section-indicator.fifth {
    bottom: 0;
    top: auto;
    left: 80%;
  }

  .section-title {
    writing-mode: horizontal-tb;
    transform: none;
    font-size: 3em;
    text-align: center;
    padding-bottom: 1rem;
  }

  .section-about {
    padding-top: 2rem;
    padding-bottom: 3rem;
  }

  .section-about > .container {
    padding: 0 2rem;
  }

  .section-projects {
    margin-top: 2rem;
  }

  .project {
    position: static;
    width: 100%;
    margin: 0.5rem 0;
  }

  .project:hover {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
  }

  .colored {
    -webkit-filter: grayscale(100%);
    filter: grayscale(0);
  }

  .project.colored:hover {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
  }

  .project.project-active {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
  }

  .project.project-active.colored {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
  }

  .project img {
    height: 100%;
    border: none;
  }

  .projects-container {
    width: 90%;
  }

  .project-description {
    display: none;
  }

  .project-description p {
    display: none;
  }

  .btn-show-project {
    position: absolute;
    right: 3%;
    top: 3%;
    /* background: rgba(0, 0, 0, 0.437);
    border: 2px solid #fff; */
    background: none;
    border: none;
    color: #fff;
    width: 2.5rem;
    height: 2.5rem;
  }

  .project.visible-vh {
  }

  /* .eye-logo {
    width: 100%;
    height: 100%;
    background-color: red;
    -webkit-mask: url("../assets/img/ojito.svg") no-repeat center;
    mask: url("../assets/img/ojito.svg") no-repeat center;
  } */

  .btn-show-project img {
  }

  .project-place {
    font-size: 1.8em;
  }

  /* SECTION RENDERS */

  .section-renders {
    padding: 1rem 0.5rem 1.5rem 0.5rem;
  }

  .circle-container {
    width: 100%;
    height: 100%;
    position: absolute;
  }

  .circle {
    width: 1rem;
    height: 1rem;
    position: absolute;
    /* top: 50%; */
    /* left: 50%; */
    /* transform: translate(-50%, -50%); */
    border: 2px solid white;
    opacity: 0;
    z-index: 100;
    border-radius: 100%;
    animation: circle 3s infinite cubic-bezier(0.36, 0.11, 0.89, 0.32);
    -webkit-animation: circle 2s infinite cubic-bezier(0.36, 0.11, 0.89, 0.32);
  }

  .modal-footer {
    border-top: none;
  }

  @keyframes circle {
    0% {
      transform: scale(0.5, 0.5);
      opacity: 0;
    }

    10% {
      opacity: 0.5;
    }

    100% {
      transform: scale(2.2, 2.2);
      opacity: 0;
    }
  }

  .render:hover .render-color-container {
    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
  }

  .render.one:hover .render-color-container {
    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
  }

  .render.three:hover .render-color-container {
    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
  }

  .render.four:hover .render-color-container,
  .render.five:hover .render-color-container {
    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
  }

  /* SECTION PRODUCTS */

  .section-products h2 {
    padding-bottom: 2rem;
    margin: 0 auto;
  }

  .products-container {
    margin: 0 auto;
  }

  .product.flex-row .show-info {
    border-left: none;
    padding-left: 0;
  }

  .product.flex-row-reverse .product-info {
    border-right: none;
    padding-right: 0;
  }

  .product {
    max-width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem 0;
  }

  .product-info h3 {
    font-size: 2.5em;
    text-align: center;
    margin: 0 auto;
  }

  .product2 p {
    text-align: end;
  }

  .product-info p {
    font-size: 1em;
    text-align: center;
  }

  .show-products {
    margin-bottom: 1.5rem;
  }

  .btn-get-product {
    margin: 0 auto;
  }

  #carousel-hidden-products .carousel-inner {
    width: 80%;
  }

  #carousel-hidden-products {
    height: 30rem;
  }

  .hidden-product {
    padding-top: 0;
  }

  /* SECTION STEPS */
  .rows-container {
    padding: 0;
    width: 80%;
  }

  .section-steps h2 {
    position: static;
    margin: 0;
    padding: 1rem 0 2rem 0;
    margin: 0 auto;
    -webkit-margin-before: -2px;
    -webkit-margin-after: -2px;
  }

  .steps-container > .steps-row {
    margin-bottom: 0;
    margin: 0 auto;
    padding-top: 2rem;
    flex-wrap: wrap;
    width: 80%;
  }

  .steps-row:last-of-type {
    margin-top: 0;
  }

  .steps-row div {
    padding: 0.4rem 0;
  }

  .step-numeration {
    position: absolute;
    top: 0;
    left: 0;
    /* border: 1px solid #fff; */
    width: 2rem;
    height: 2rem;
    margin-bottom: 0;
    display: block;
  }

  .step-icon img {
    padding-top: 0.5rem;
  }

  .arrow,
  .arrow-big {
    display: none;
  }

  .steps-row:last-of-type {
    padding-top: 0;
  }

  /* SECTION QUOTATION */
  .section-title.title-left {
    margin-left: 0;
  }

  .section-quotation h2 {
    padding-top: 5rem;
  }

  .section-quotation {
    padding: 1rem 0;
  }

  form {
    padding: 0;
  }

  form .row {
    display: flex;
    flex-direction: column;
  }

  form .row .col {
    margin: 1.5rem auto 0 auto;
  }

  /* SECTION CONTACT */
  .map {
    /* width: 90%; */
    height: 30rem;
  }

  .socials-list {
  }

  .contact-info li {
    font-size: 1.4em;
  }

  .contact-info {
    align-items: center;
    padding-left: 0;
    width: 100%;
  }

  .map {
    width: 100%;
  }

  .socials-list {
    margin: 0 auto;
    width: auto;
    padding-left: 0;
  }
}

@media screen and (max-width: 769px) {
  .floating-ws {
    width: 3.5rem;
    height: 3.5rem;
  }

  /* NAV */
  .nav-li {
    font-size: 2em;
  }

  .menu-btn__burger::before,
  .menu-btn__burger::after {
    width: 40px;
    height: 5px;
  }

  .contact-info img {
    max-width: 60%;
  }

  .map {
    width: 90%;
  }

  .hidden-products.show {
    width: 90%;
  }

  .hidden-products {
    width: 90%;
  }

  /* SECTION QUIOTATION */
  .section-quotation {
    background-position: bottom;
  }

  /* SECTION CONTACT */
  .section-contact {
    background-position: 0% 100%;
  }

  .contact-info img {
    max-width: 30%;
  }
}

@media screen and (max-width: 992px) {
  .footer-links-container {
    padding-right: 0;
  }
}

@media screen and (min-width: 769px) and (max-width: 1399px) {
  /* SECTION PROJECTS */

  .projects-container {
    flex-wrap: wrap;
  }

  .project {
    width: 46%;
    margin: 0 2% 2rem 2%;
  }

  .project-5 {
    margin: 0 auto;
  }

  /* SECTION RENDERS */
  .section-renders {
    padding: 2rem 0.5rem 3rem 0.5rem;
  }

  .steps-row div {
    flex: 1 0 auto;
  }

  .step {
    width: 50%;
  }

  .step:last-of-type {
    width: 50%;
    flex-grow: 0;
    margin: 0 auto;
  }

  .step-icon {
    margin: 0 auto;
  }

  .steps-row:last-of-type {
    flex-wrap: wrap;
    margin: 0 auto;
    width: 80%;
  }

  .renders-list-container {
    width: 60%;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1399px) {
  .section-title {
    font-size: 4.5em;
  }

  .render {
    cursor: pointer;
  }

  .about-text {
    font-size: 1.4em;
  }

  .product-info h3 {
    font-size: 3em;
  }

  .product-info p {
    font-size: 1.4em;
  }
}

@media screen and (min-width: 1399px) {
  .renders-list-container {
    position: absolute !important;
    top: 7rem;
    left: 50%;
    transform: translateX(-50%);
  }

  .product h3,
  .hidden-product-title {
    line-height: 77px;
  }
}

@media screen and (min-width: 2000px) {
  .projects-container {
    right: 0%;
    /* Bajar el right y quitar el transform */
    bottom: 0;
    z-index: 200;
    width: 62%;
    /* transform: translateX(50%); */
  }

  .section-title.title-left {
    margin-left: 15%;
  }

  .section-quotation > div {
    width: 87%;
  }

  .section-renders {
    padding-top: 16rem;
  }

  .renders-list-container {
    top: 12rem;
  }
}

@media screen and (min-width: 2480px) {
  .projects-container {
    right: 5%;
    bottom: 0;
    z-index: 200;
    width: 54%;
    /* transform: translateX(50%); */
  }
}

@media screen and (min-width: 2800px) {
  .projects-container {
    right: 25%;
    bottom: 0;
    z-index: 200;
    width: 45%;
    /* transform: translateX(50%); */
  }
}

@media screen and (min-width: 3500px) {
  .projects-container {
    right: 30%;
    bottom: 0;
    z-index: 200;
    width: 36%;
    /* transform: translateX(50%); */
  }
}

@media screen and (max-width: 769px) {
  .welcome-message span {
    display: none;
  }

  #liveAlertPlaceholder {
    width: 90%;
  }

  .projects-list-container,
  .renders-list-container {
    width: 90%;
  }

  .project-button,
  .renders-list li {
    font-size: 1.1em;
    padding: 0 0 0.4rem 0;
  }
}

@media screen and (max-width: 350px) {
  .project-button,
  .renders-list li {
    font-size: 0.98em;
    padding: 0 0 0.4rem 0;
  }
}

@media screen and (max-width: 480px) {
  .carousel-item img.more-product-img {
    width: 55%;
  }
}

.floating-flecha {
  position: fixed;
  right: 1%;
  bottom: 3%;
  width: 2.5rem;
  height: 2.5rem;
  z-index: 3000;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  transition: background-color 0.15s ease-in;
}

.section-steps {
  padding-top: 10rem;
  padding-bottom: 5rem;
}
